<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Formulario Personas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h2>Formulario Personas</h2>
            <form class="form-horizontal" th:action="@{/formPersonas}" method="post" th:object="${persona}">
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="cedula">Cédula:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="cedula" th:field="*{cedula}">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="nombrePersona">Nombre:</label>
                    <div class="col-sm-10">          
                        <input type="text" class="form-control" id="nombrePersona" th:field="*{nombrePersona}" placeholder="Ingrese su nombre aquí">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="numContacto">Número de contacto:</label>
                    <div class="col-sm-10">          
                        <input type="text" class="form-control" id="numContacto" th:field="*{numContacto}">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="correo">Email:</label>
                    <div class="col-sm-10">          
                        <input type="email" class="form-control" id="correo" th:field="*{correo}">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="sector">Sector:</label>
                    <div class="col-sm-10">          
                        <input type="text" class="form-control" id="sector" th:field="*{sector}">
                    </div>
                </div>
                
                <div class="form-group">        
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </div>
                
            </form>
</html>
