<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Tabla Mascotas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h2>Tabla Mascotas</h2>          
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Especie</th>
                        <th>Edad</th>
                        <th>Género</th>
                        <th>Dueño</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="mascota : ${mascotas}">
                        <td th:text="${mascota.id}"></td>
                        <td th:text="${mascota.nombreMascota}"></td>
                        <td th:text="${mascota.especie}"></td>
                        <td th:text="${mascota.edad}"></td>
                        <td th:text="${mascota.genero}"></td>
                        <td th:text="${mascota.duenio}"></td>
                        <td>
                            <a th:href="@{/editarMascota/} + ${mascota.id}" type="submit" class="btn btn-default">Editar</a>
                            <a th:href="@{/eliminarMascota/} + ${mascota.id}" type="submit" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
