<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Tabla Personas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h2>Tabla Personas</h2>          
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Número de contacto</th>
                        <th>Email</th>
                        <th>Sector</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="persona : ${personas}">
                        <td th:text="${persona.cedula}"></td>
                        <td th:text="${persona.nombrePersona}"></td>
                        <td th:text="${persona.numContacto}"></td>
                        <td th:text="${persona.correo}"></td>
                        <td th:text="${persona.sector}"></td>
                        <td>
                            <a th:href="@{/editarPersona/} + ${persona.cedula}" type="submit" class="btn btn-default">Editar</a>
                            <a th:href="@{/eliminarPersona/} + ${persona.cedula}" type="submit" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
